* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #040023;
}

.glow-stick {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 13px;
    height: 500px;
    border-radius: 20px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 
        1px 5px 4px rgba(0, 0, 0, .3),
        0 0 2px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 1),
        0 0 30px rgba(255, 255, 255, 1),
        0 0 40px aqua,
        0 0 70px aqua,
        0 0 80px aqua,
        0 0 50px aqua;
    cursor: pointer;
    animation: flicker 1s 1s linear;
    opacity: 0;
}

.container .text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    user-select: none;
}

p, span {
    display: inline-block;
    font-family: 'Goldman', cursive;
    font-size: 30px;
}

P{
    margin-right: 10px;
    margin-left: 10px;
}

span{
    color: aqua;
    opacity: 0;
    /* transition: 0.1s ease-in; */
}

.visible{
    color: aqua;
    /* transition: 0.3s ease-in; */
}

@keyframes flicker{
    10%, 25%, 40%, 70% {opacity:1;}
    0%, 20%, 30%, 45% {opacity:0;}
}