*{
    padding: 0;
    margin: 0;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}

.glowstick{
    position: relative;
    left: 50%;
    top: 50%;
    background-color: yellow;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 14px;
    border-radius: 20px;
}

.glowstick::before{
    content: "";
    position: absolute;
    height: 510px;
    width: 200px;
    left: -193px;
    z-index: -1;
    border-radius: 50% 50%;
    background-color: blue;
}

.glowstick::after{
    content: "";
    position: absolute;
    left: 7px;
    height: 510px;
    width: 300px;
    z-index: -1;
    border-radius: 50% 50%;
    background-color: red; 
}